<div class="h-1/2 w-full">
  <p class="text-center pt-4 text-2xl font-light">
    Вам необходимо собрать фигуру в следующей последовательности :
    <span [class.text-red-600]="step === 1">квадрат</span>
    <span [class.text-red-600]="step === 2"> -> круг</span>
    <span [class.text-red-600]="step === 3"> -> треугольник</span>
  </p>
  <div class="flex justify-around items-center p-4">
    <app-figure-basket
      [figures]="squares"
      [detail]="detail"
      [isDraggingOverCreate]="isDraggingOverCreate"
      [isDraggingOverTheTrash]="isDraggingOverTheTrash"
      [step]="step"
      type="square"
      (changeStepEvent)="changeStep($event)"
    ></app-figure-basket>
    <app-figure-basket
      [figures]="circles"
      [detail]="detail"
      [isDraggingOverCreate]="isDraggingOverCreate"
      [isDraggingOverTheTrash]="isDraggingOverTheTrash"
      [step]="step"
      type="circle"
      (changeStepEvent)="changeStep($event)"
    ></app-figure-basket>
    <app-figure-basket
      [figures]="triangles"
      [detail]="detail"
      [isDraggingOverCreate]="isDraggingOverCreate"
      [isDraggingOverTheTrash]="isDraggingOverTheTrash"
      [step]="step"
      type="triangle"
      (changeStepEvent)="changeStep($event)"
    ></app-figure-basket>
    <img [class.dragging-trash]="isDraggingOverTheTrash"
         src="../assets/icons/trash.svg"
         alt="trash" class="trash"
         (dragover)="this.isDraggingOverTheTrash = true"
         (dragleave)="dragToTrashLeave()"
    >
  </div>
</div>


<div class="h-1/2 w-full flex justify-between p-10">
  <div class="w-full mr-2">
    <app-create-detail
      (changeStepEvent)="changeStep($event)"
      (changeIsDraggingOverCreateEvent)="changeIsDraggingOverCreate($event)"
      [step]="step"
      [isDraggingOverTheTrash]="isDraggingOverTheTrash"
      [isDraggingOverCreate]="isDraggingOverCreate"
      [detail]="detail"
      [createdDetails]="createdDetails"
    ></app-create-detail>
  </div>
  <div class="w-1/4 border-2 border-green-500 overflow-y-auto flex flex-col items-center rounded">
    <span class="font-thin text-2xl">Созданые детали : </span>
    <div *ngFor="let detail of createdDetails; let i = index">
      <app-created-detail
        [createdDetails]="createdDetails"
        [detail]="detail"
        [isDraggingOverTheTrash]="isDraggingOverTheTrash"
        [i]="i"
      ></app-created-detail>
    </div>
  </div>
</div>
